tensorflow==2.12.0
pandas
dvc
mlflow
notebook
numpy
imbalanced-learn
matplotlib
seaborn
python-box==6.0.2
pyyaml
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown

# Specify compatible versions for crewai and openai to resolve conflicts
crewai[tools]==0.1.7
openai>=0.28.1,<0.29.0

langchain>=0.0.351,<0.0.352  # Align langchain with crewai requirements

tavily-python==0.3.2
chromadb==0.4.24

# Local package installation (editable mode)
-e .
